body{
    background-image: url("imagenes/volswagen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nom{
    font-size: 150%;
}
h3{
    color: whitesmoke;
}
.navbar-color{
    color: rgba(240, 248, 255, 0.685);
}
.empuja{
    position: relative;
    top: 90px;
    margin-bottom: 120px;
}
a{
    color: black;
    text-decoration: none;
}
.b{
    font-weight: bolder;
}
.fondo{
    background-color: white;
}

.alfondo {
    margin-top: auto;
    background: #eee;
    padding: 20px;
    text-align: center;
  }
  .panel-compra {
    width: 90%;
    max-width: 1800px;
    height: 80vh;
    margin: auto;
  }
  .cambioColor {
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
  }
  input[type="radio"]:checked + .cambioColor {
    border: 2px solid #007bff;
    box-shadow: 0 0 0 2px #007bff33;
  }